body {
	font-family: sans-serif ;
	--main-color: #ffffff;
	--secondary-color: #000000;
	background: var(--main-color) ;
	color: var(--secondary-color) ;
}

main {
	max-width: 800px ;
	margin: auto ;
}

img {
	max-width: 100% ;
}

header h1 {
	text-align: center ;
}

footer {
	text-align: center ;
	clear: both ;
}

/* For TAGLIST.HTML */
.taglist {
	text-align: center ;
	clear: both ;
}

/* For NEXTPREV.HTML */
#nextprev {
	/* The container for both the previous and next articles. */
}
#prevart {
	float: left ;
	text-align: left ;
}
#nextart {
	float: right ;
	text-align: right ;
}
#nextart,#prevart {
	max-width: 33% ;
}

#tag_Home{
	border-bottom: 4px solid var(--secondary-color) ;
	color: var(--secondary-color) ;
	transition: border-bottom 0.3s ease-in-out;
}

#tag_Home:hover{
	border-bottom: 40px solid ;
}

@media screen and (max-width:600px) {
	div.section_container {
	  flex-direction: column;
	}
  }

.section_container{
	display: flex;
	flex-direction: row;
	margin: 5%;
}

.section_title>a{
	all: unset;
}

.section_title{
	width: 50%;
	font-size: 150px;
	word-break: break-all;
	font-weight: bolder;
	
	padding: 2%;

	border: 1dvb solid var(--secondary-color);

	color: var(--main-color);
	background-color: var(--secondary-color);

	transition: color 0.5s ease-in-out 0.1s, background 0.5s ease-in-out;
}

.section_title:hover{
	color: inherit;
	background-color: inherit;
}

.section_contents{
	width: 50%;

	display: flex;
	flex-direction: column;
	margin: 10px;
}

.section_content{
	flex: 1 0 0;
	align-content: center;

	font-size: xx-large;

	margin: 10px;
	padding: 50px 10px;
	border-left: 10px solid var(--secondary-color);

	transition: all 0.8s;
	background-size: 201% 100%; 
	background-image: linear-gradient(to right, var(--main-color) 50%, var(--secondary-color) 50%); 
}

.section_content:hover{
	color: var(--main-color);
	background-position: bottom 0% right 200%; 
	
}


